.App {
  text-align: center;
  background-color: black;
}

.App-header{
  background-image: url("https://image.tmdb.org/t/p/original/j28p5VwI5ieZnNwfeuZ5Ve3mPsn.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 450px;
}

.title_row{
  width:100%;
  height:100px;
  background-color: black;
  position: fixed;
  top: -10px;
  z-index: 1;
}

.content{
  width:100%;
  height:100px;
  background-color: black;
  z-index: 0;
}
.title_row #title{
  color:red;
  font-size:50px;
  text-align: left;
}

.title_row .col{
  display: inline-flex;
  width:50%;
}


.search_row{
  position: relative;
  width:100%;
  float:right;
}

.App-header .button{
 color:white;
 background:none;
 font-size: 25px;
 border:none;
 width:150px;
 height:50px;
 margin:10px;
}

.button_add{
  position: relative;
  top:300px;
  float: left;
 }
